nav{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background-color: #ffff;
}

nav .navbar-brand{
    height: 75px;
}

.nav-logo{
    width: 100px;
}

nav .nav-list{
    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
}

nav .nav-list .nav-item:hover{
    background: white;
}

nav .nav-list .nav-link{
    color: black;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

@media (max-width: 1300px){
    nav{
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
padding: 0 20px;
    }
}

@media (max-width: 860px){
 
    nav{
   position: fixed;
    width: 100%;
    z-index: 2;
    }

nav .nav-list{
display: grid;
position: fixed;
background: white;
width: 100%;
top: 75px;
left: 0;
transform: translateY(-100%); 
transition: 0.4s;
z-index: -1;
}


nav .nav-list .nav-item{
    padding-left: 35px;
    padding-bottom: 48px;
}


nav .navbar-toggler{
    display: grid !important;
}


}

nav .navbar-toggler{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar{
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: black;
    border-radius: 10%;
    transition: .4s;
}

input{
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 53px
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2){
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3){
    transform: rotate(-45deg);
}